
language: c
compiler: gcc

# safelist
branches:
  only:
  - master


addons:
  hosts:
  - travis.dev
  - joshkalderimis.com


before_install:
 - echo 'Before Install Stage........'
# - sudo apt-get -qq update
# - sudo apt-get install -y libxml2-dev


 
install:
 - echo 'Install Stage........'
 - echo 'Install cross platform tool chain...'
 - sudo tar -xjf buildroot-gcc342.tar.bz2 -C /opt/
# - echo 'cache components...'


before_script:
 - echo 'Before Script Stage........'
# - bundle exec rake build
# - bundle exec rake build


script:
 - echo 'Script Stage........'
# - bundle exec rake build
# - bundle exec rake builddoc


after_success:
 - echo 'After Success Stage........'
# - sudo apt-get update -qq
# - sudo apt-get install -qq [packages list]


after_failure:
 - echo 'After Failure Stage........'
# -



after_script:
 - echo 'After Script Stage........'
# -